html, body {
	height: 100%;
	overflow: hidden;
}
* {outline: none;}
body {
	background: #fff;
	color: #333;
	font: 62.5% "Lucida Grande","Lucida Sans",Arial,sans-serif;
	margin: 0;
	padding: 0;
}

#head {
	height: 80px;
	left: 0;
	min-width: 970px;
	position: absolute;
	right: 0;
	top: 0;
}
	#head #topbar {
		background-position: 50% 57%;
		border: 0;
		height: 50px;
	}
		#topbar #logo {
			background: url(../img/logo.png) no-repeat 0 0;
			height: 50px;
		}
		#topbar #user {
			height: 30px;
			position: absolute;
			right: 15px;
			top: 10px;
			width: 235px;
		}
			#user ul#icons li {padding: 4px 5px 3px 2px;}
		
	#head #navbar {
		height: 28px;
	}
		#navbar #menu {
			float: left;
			height: 28px;
			list-style: none;
			margin: 0;
			padding: 0;
		}
			#menu .ui-icon {
				margin-top: -8px;
				position: absolute;
				right: 7px;
				top: 50%;
			}
			#menu li {
				float: left;
				height: 28px;
				position: relative;
			}
				#menu li.ui-state-default {height: 29px;}
				#menu li.ui-state-default .ui-icon {margin-top: -9px}
			#menu li a {
				color: #1d5987;
				cursor: pointer;
				display: block;
				font-size: 11px;
				font-weight: bold;
				height: 28px;
				line-height: 28px;
				margin: 0 0;
				padding: 0 15px;
				text-decoration: none;
			}
			#menu li a.sf-with-ul {
				padding: 0 30px 0 15px;
			}
				#menu li ul {
					background: #eef6fd;
					border: 1px solid #C5DBEC;
					border-top: 0;
					display: none;
					left: -1px;
					list-style: none;
					padding: 0 0 2px 0;
					position: absolute;
					top: 29px;
					width: 185px;
					z-index: 999;
				}
					#menu li ul li {
						border: 0;
						float: none;
						height: 28px;
						line-height: 28px;
						position: relative;
						z-index: 999;
					}
						#menu li ul li.ui-state-default {height: 28px;}
					#menu li ul li a {
						border: 1px solid #eef6fd;
						float: none;
						height: 26px;
						line-height: 24px;
						margin: 2px;
						padding: 0 10px;
					}
					#menu li ul li.ui-state-default ul li a {
						background: none transparent;
						border: 1px solid #eef6fd;
						float: none;
						height: 26px;
						line-height: 24px;
						margin: 2px;
						padding: 0 10px;
					}
					#menu li ul li ul {
						border-top: 1px solid #C5DBEC;
						left: 185px;
						top: 0;
					}
					#menu li ul li a.sf-with-ul {
						padding: 0 30px 0 10px;
					}

#desk {
	bottom: 30px;
	left: 0;
	min-width: 970px;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 80px;
}
	#desk #maincolumn {
		bottom:0;
		left:0;
		position:absolute;
		right:250px;
		top:0;
	}
		#maincolumn #dashboard,
		#maincolumn #widgetbox {
			bottom: 0;
			position: absolute;
			padding: 10px;
			top: 0;
		}
		#maincolumn #dashboard {
			left: 0;
			right: 50%;
		}
			#dashboard #deskicons {
				margin: 0;
				padding: 0;
				position: relative;
			}
			#dashboard #deskicons a {
				cursor: pointer;
				float: left;
				font-size: 4em;
				height: 64px;
				margin: 0 5px 5px 0;
				padding: 14px;
				text-align: center;
				width: 64px;
			}
		#maincolumn #widgetbox {
			left: 50%;
			right: 0;
		}
			#widgetbox #accordion {
				height: 100%;
			}
	#desk #sidecolumn {
		background: #fafafa;
		bottom: -1px;
		padding: 10px;
		position: absolute;
		right: -1px;
		top: -1px;
		width: 230px;
	}
		#desk #show-hide {
			display: block;
			margin: 0 0 10px;
			padding: 0.4em 20px 0.4em 1em;
			position: relative;
			text-decoration: none;
			text-transform: uppercase;
		}
		#desk #show-hide span.ui-icon {
			margin: -8px 5px 0 0;
			position: absolute;
			right: 0.2em;
			top: 50%;
		}
		#sidetabs .ui-tabs-panel {
			max-height: 200px;
			overflow: auto;
		}
		#sidecolumn #datepicker {
			padding: 0 0 10px;
		}
		#sidecolumn #datepicker .ui-datepicker {
			width: 20.3em;
		}

#dock {
	bottom: 0;
	height: 30px;
	left: 0;
	min-width: 970px;
	overflow: hidden;
	position: absolute;
	right: 0;
}
	#dock #botbar {
		height: 28px;
		padding: 1px 5px 0;
	}
		ul#icons {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		ul#icons li {
			cursor: pointer;
			float: left;
			list-style: none outside none;
			margin: 1px;
			padding: 4px 2px 3px;
			position: relative;
		}
		ul#icons span.ui-icon {
		    float: left;
		    margin: -1px 2px 1px;
		}


/* Color Styling from jQuery UI Themes */
#head #navbar,
#dock #botbar {
    border-color: #c5dbec;
    border-style: solid;
    border-width: 1px 0;
}
#navbar #menu {}
#menu li {
	border-bottom: 0;
	border-left: 0;
	border-right: 1px solid #C5DBEC;
	border-top: 0;
}
	
	#menu li ul li a:hover,
	#menu li ul li ul li a:hover,
	#menu li ul li.ui-state-default a,
	#menu li ul li.ui-state-default a:hover {
		background: #D0E5F5 url(../img/ui-bg_glass_75_d0e5f5_1x400.png) repeat-x 50% 50%;
		border: 1px solid #79B7E7;
		color: #2E6E9E;
	}